includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    paths:
        - app/

    level: 8

    ignoreErrors:
        - '#Construct empty\(\) is not allowed.*#'
        - '#Short ternary operator is not allowed.*#'
        - '#Call to function base64_decode\(\).*#'
        - '#Dynamic call to static method Illuminate\\Http\\Request::validate\(\)#'
